@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --color-amarillo : #EAC926;
    --color-azul : #03264C;
    --color-celeste : #1259c3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;
}

.fa-credit-card, .fa-gift, .fa-user-shield{
    color: var(--color-celeste);
}



